
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center" >
        <div class="col-md-4 col-xs-12 price" ng-repeat="people in numOfPeople">
            <div class="price-header">
                <h2> {{people}} </h2>
            </div>
            <div class="price-body">
                <p><span>{{costPerHour[$index]}}</span> שקלים לשעה</p>
                <p><span>{{costTwoHours[$index]}}</span> שקלים לשעתיים</p>
                <p>ימי הולדת / גיבוש המחיר בטלפון בלבד</p>
                <p class="price-note">*המחיר הינו לאדם בודד</p>
            </div>
            <div class="price-include">
                
            </div>
            <div class="price-footer">
                <button class="price-btn" ui-sref="contactus">להזמנה לחץ כאן</button>
            </div>
        </div>
    </div>
</div>

   