<div id="accordion" class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            מי אנחנו?
                        </button>
                    </h5>
                </div>
            
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <span>
                             רוצים לצאת עם חברים ולא יודעים לאן? מחפשים מקום חדש מצחיק ומגבש?
                             בשביל זה אנחנו כאן, חברת fun &sport
                             מבטיחה ודואגת לחוויה מצחיקה ומגבשת בין משפחות/ חברים / ימי כיף / ימי הולדת
                             ובמחיר נורמלי כך שכל אחד יוכל להשתתף במשחק
                        </span>
                    </div>
                </div>
            </div>
           
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            איך ניתן לשחק?
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        יש לכם שתי אפשרויות:
                        <br> <span class="question-color"> 1.</span>  אנחנו עובדים מול ה- <span class="question-color"> sweat star</span> באשדוד לכן אנחנו מתאמים מולם משחק במגרש שלהם.
                        <br> <span class="question-color"> 2.</span> אנחנו באים עד אליכם, תדאגו למגרש סינטטי / אולם ספורט ואנחנו נגיע עם הציוד
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            מהי הכמות המינימלית למשחק?
            
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        אנחנו ממליצים  על לפחות 15 אנשים, כך ש 2 קבוצות משחקות ואחת נהנת מהצפייה במשחק (תסמכו עלינו, לראות את החברים שלכם עפים באוויר
                        זאת חוויה מאוד מצחיקה)
                        <p>
                            נ.ב המחיר נקבע ע"י כמות האנשים אז כמה שיותר יותר זול ;)
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                            איזה עוד משחקים אתם מציעים?
            
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        אנחנו מתאימים את המשחקים לקהל היעד שלנו, יש לנו שלל אטרקציות בנוסף לכדורגל בועות הקלאסי.
                        <p> תסמכו עלינו, אנחנו מכירים את העבודה ;)</p>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                            מה צריך כדי לשחק באבלבול?
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                        <span>
                            הכי חשוב, רצון להנות ולצחוק! בנוסף לכך ביגוד ספורטיבי, מכנס ארוך עם נעלי ספורט יעשה את העבודה.
                        </span>
                            <span>   בנוסף חשוב מאוד לשתות הרבה <span class="question-color">מים.</span></span>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                            מאיזה גיל ניתן לשחק באבלגול?
                        </button>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                    <div class="card-body">
                        מ 1.35 מטר והלאה, גובה הכדור הקטן ביותר הוא 1.20 מטר לכן זה צריך להיות תלוי בגובה ולא בגיל.
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="card-header" id="headingSeven">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                            האם המשחק תלוי בגובה האדם?
                        </button>
                    </h5>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                    <div class="card-body">
                        בוודאי, יש לנו כדורים בשני גדלים, 1.20 מטר לקטנים ו- 1.50 מטר לגדולים.
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="card-header" id="heading8">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapseThree">
                            האם זה מסוכן?
                        </button>
                    </h5>
                </div>
                <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">
                    <div class="card-body">
                        אין דבר היום שהוא לא מסוכן... זה הרבה יותר מאובטח מכדורגל או מכל ספורט חופשי אחר. אך בכל מקרה יש לנו ביטוח עבור כל משתתף.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading9">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapseThree">
                                <span>למי זה לא מתאים?</span>
                        </button>
                    </h5>
                </div>
                <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion">
                    <div class="card-body">
                        <span>אנשים שיודעים שאסור להם לעשות פעילות ספורטיבית מאומצת.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
        
        
    </div>


</div>