

<p class="home-header">מחפשים דרך להתגבש? לצאת מהשיגרה המפרכת? לחברת כיף וספורט יש פיתרון בשבילכם!</p>

<!-- beggin youtube video -->
<div class=" col-md-6 home-video embed-responsive embed-responsive-16by9" >
    <div class="home-video-header-text">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/H35MnnekwqQ?rel=0&autoplay=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>

<!-- beggin photo slider -->
<div class="slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="inner-slide">
                    <img src="../../img/home1.png" alt="כדורגל בועות אשדוד חברת כיף וספורט">
                    <p class="img-home-text">מיקום: סוואט סטאר אשדוד</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="inner-slide">
                    <img src="../../img/home2.png" alt="כדורגל בועות אשדוד חברת כיף וספורט">
                    <p class="img-home-text">מיקום: סוואט סטאר אשדוד</p>

                </div>
            </div>
            <div class="swiper-slide">
                <div class="inner-slide">
                    <img src="../../img/home3.png" alt="כדורגל בועות אשדוד חברת כיף וספורט">
                    <p class="img-home-text">מיקום: סוואט סטאר אשדוד</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="inner-slide">
                    <img src="../../img/home4.png" alt="כדורגל בועות אשדוד חברת כיף וספורט">
                    <p class="img-home-text">מיקום: סוואט סטאר אשדוד</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="inner-slide">
                    <img src="../../img/home5.png" alt="כדורגל בועות אשדוד חברת כיף וספורט">
                    <p class="img-home-text">מיקום: סוואט סטאר אשדוד</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="inner-slide">
                    <img src="../../img/home6.png" alt="כדורגל בועות אשדוד חברת כיף וספורט">
                    <p class="img-home-text">מיקום: סוואט סטאר אשדוד</p>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div> -->
</div>

<!-- beggin home text -->
<div class="home-text">
    <p>מחפשים לעשות פעילות מגבשת עבור העובדים / חיילים ולא יודעים מה לבחור?</p>
    <p>מחפשים פעילות מגבשת עבור כל המשפחה למרות פערי הגילאים?</p>
    <p>מכירים את הרגע הזה שבא לכם לצאת עם חברים אבל בא לכם משהו שונה? </p>
    <span>חברת כיף וספורט פתחה את הסניף הראשון שלה באשדוד והסביבה בהתחייבות למחיר
        <b>הזול ביותר בארץ!</b>
    </span>
    <div class="home-youtube-funny-video">
        נעשה איתכם עסקה, צפו בסרטון הבא אם אתם לא צוחקים אל תזמינו אותנו ;)
    </div>
    <div class=" col-md-6 home-video embed-responsive embed-responsive-16by9">
        <div class="home-video-header-text">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/WE6tytkrjsA?rel=0&autoplay=0" frameborder="0" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
        </div>
    </div>
    <p class="home-text-price" ui-sref="contactus">
        
        צחקתם? נהנתם? למה אתם מחכים? להזמנה לחץ כאן
    </p>
</div>




