<div class="" style="margin-right:50px">
    <div class="row"style="margin-top:50px">
        <div class="event-img col-md-2 " id="armyEvent">
        </div>
        <div class="col-md-6 col-xs-12 ">
            <div class="headerBody">
                <h2>פעילות לחיילים</h2>
            </div>
            <div class="eventBody">
                <span>יש לכם יום ספורט צבאי? סיימתם קורס בטכני? חבר משתחרר ורוצים לעשות מסיבת פרידה?</span>
                <span>רק תתקשרו אלינו ונדאג לכם לפעילות שתדברו עליה עוד הרבה זמן!</span>
                <span>
                    <br>מיותר לציין שיש הנחה לחיילים</span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:50px">
        <div class="event-img col-md-2 " id="birthdayEvent">   
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="headerBody">
                <h2>פעילות לימי הולדת</h2>
            </div>
        <div class="eventBody">
            <span>יש עוד מעט יום הולדת לחבר ואין לך רעיונות? רוצה להפתיע את הבן שלך עם פעילות מצחיקה ומהנה ליום הולדת?</span>
            <span> תתקשרו אלינו ונדאג לכם לעבודה, רק תודיעו לנו על איזה גילאים מדובר ואנחנו נעשה את השאר!</span>
        </div>
        </div>
    </div>

    <div class="row" style="margin-top:50px">
        <div class="event-img col-md-2 " id="schoolEvent">
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="headerBody">
                <h2>פעילות לבתי ספר</h2>                    
            </div>
            <div class="eventBody">
                <span>גם אנחנו למדנו בבית הספר, ואין כמו תחרות כדי לגבש כיתות וליצור חברים.</span>
                <span>לכן אם בית ספר כלשהו מעוניין לעשות פעילות מיוחדת ומגבשת במיוחד עבור בית הספר שלו, אנחנו נדאג לעבודה!</span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:50px">
        <div class="event-img col-md-2 " id="companyEvent">
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="headerBody">
                <h2>פעילות לחברות</h2>
            </div>
            <div class="eventBody">
                <span>מחפשים דרך טובה להשתחרר ולהתגבש? בשביל זה אנחנו כאן, אנחנו נדאג להכל, אתם רק צריכים להתקשר ולקבוע איתנו יום ושעה.</span>
                <p></p>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:50px; margin-bottom:50px;">
        <div class="event-img col-md-2 " id="sportEvent">
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="headerBody">
            <h2>פעילות לקבוצות ספורט</h2>
            </div>
            <div class="eventBody">
                <span>האם זה מתאים לקבוצות כדורגל? אם ברצלונה, ליון ועוד הרבה קבוצות כדורגל שיחקו, אז לעניות דעתי התשובה חיובית ;)</span>
                <p></p>      
            </div>
        </div>
    </div>
</div>